@include component('footer') {
    background: #f19800;
    padding: 60px 10px;

    @include element('brand') {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;

        img {
            height: auto;
            display: inline-block;
            width: 270px;
        }
    }

    @include element('social') {
        text-align: center;
        margin-bottom: 50px;
        width: 100%;

        a {
            display: inline-block;
            height: 30px;
            width: 30px;
            background: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color: #f19800;
            margin-right: 10px;
        }
    }

    @include element('boxes') {
        max-width: 600px;
        height: 1%;
        overflow: hidden;
        margin: 0px auto;
    }

    @include element('box') {
        float: left;
        width: 33.3%;
        @media(max-width: 600px) {
            margin-bottom: 30px;
            width: 100%;
        }

        h2 {
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: 700;
            @media(max-width: 600px) {
                margin-bottom: 10px;
            }            
        }

        p {
            font-size: 12px;
            color: #000;
            margin-bottom: 0px;
            font-weight: 300;
            line-height: 18px;
        }

        ul {
            li {
                a {
                    font-size: 12px;
                    color: #000;
                    margin-bottom: 0px;
                    font-weight: 300;
                    line-height: 18px;                    
                }
            }
        }

        .input {
            height: 1%;
            overflow: hidden;

            &.newsletter {
                float: left;
                width: 70%;
            
                input {
                    border: none;
                    background: #fff;
                    height: 30px;
                    padding: 0px 10px;
                    outline: none;
                    width: 100%;
                }
            }

            &.submit {
                float: left;
                width: 30%;

                input {
                    background: #000;
                    height: 30px;
                    border-radius: 0;
                    border: none;
                    color: #fff;
                }
            }            
        }
    }
}

@include component('copyright') {
    background: #000;
    padding: 5px 10px;

    p {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
}