extends layouts/default.pug

block vars
	- var pageTitle = 'Mestizos'

block content
	.c-bigbanner
		.c-bigbanner__slides
			.c-bigbanner__slide
				.c-bigbanner__image
					img.desktop(src="img/bigbanner-slide.png", alt="")
					img.mobile(src="img/bigbanner-slide-mobile.png", alt="")
				.c-bigbanner__info
					h1 ¡Loren ipsum dolor sit atmet!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
					a(href="#") Leer noticia 
	include partials/_news.pug
	include partials/_ads.pug
	include partials/_news.pug
	include partials/_ads.pug
	include partials/_news.pug
	include partials/_ads.pug
	include partials/_news.pug
	include partials/_ads.pug
	include partials/_news.pug
	
block append scripts