footer.c-footer
    .c-inner
        .c-footer__brand
            img(src="img/header-logo.png", alt="Mestizos")
        .c-footer__social
            a(href="#")
                span.fab.fa-facebook-f
            a(href="#")
                span.fab.fa-twitter
            a(href="#")
                span.fab.fa-instagram
        .c-footer__boxes
            .c-footer__box
                h2 Nosotros
                ul
                    li
                        a(href="#") Contacto
                    li
                        a(href="#") Sitemap
                    li
                        a(href="#") Stores
            .c-footer__box
                h2 Información
                p Tekmotor
                p Av. Marathon N° 3762
                p Macul - Santiago
                p Chile
                p Call us: +56 22 630 77 00 
                p Email us: info@tekmotor.com
            .c-footer__box
                h2 SUSCRIBETE AL BOLETÍN
                form(action="")
                    .input.newsletter
                        input(type="text" placeholder="Ingresa tu correo")
                    .input.submit
                        input(type="submit" value="Ok")
.c-copyright
    p DISEÑADO Y DESARROLLADO POR ANTDIGITAL.CL

