//- Default Template
doctype html
html(lang="es")
	block vars
		- var pageTitle = 'Título Genérico'

	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{pageTitle}
		include ../partials/_favicon.pug
		// inject:css
		// endinject
		link(rel="stylesheet" href="css/main.min.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")
		script(defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous")
		script(type="text/javascript" src="https://masonry.desandro.com/masonry.pkgd.min.js")

	body
		block header
			include ../partials/_header.pug

		main(role="main")
			block content

		block scripts
			script(src="js/libs/bundle.js")
			// inject:js
			// endinject
			script(src="js/main.min.js")

		block foot
			include ../partials/_footer.pug

